In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
import math
from sklearn.linear_model import LinearRegression

# Creating Pandas Dataframe from Reading Data

In [2]:
df_2_17 = pd.read_csv('../Reading/2.17.csv')
df_5_75 = pd.read_csv('../Reading/5.75.csv')
df_7_73 = pd.read_csv('../Reading/7.73.csv')
df_10_36 = pd.read_csv('../Reading/10.36.csv')
df_13_15 = pd.read_csv('../Reading/13.15.csv')

df = pd.concat([df_2_17['pH 2.17'], df_5_75['pH 5.75'], df_7_73['pH 7.73'], df_10_36['pH 10.36'], df_13_15['pH 13.15']], axis=1)
df.to_csv('../Reading/pH_all.csv', index=False)
df.describe().to_excel('../Reading/pH_all_summary.xlsx')

# Creating Pandas Dataframe from Relative error Reading Data

In [3]:
df['pH 2.17'] = ((df['pH 2.17'] - 2.17) / 2.17) * 100
df['pH 5.75'] = ((df['pH 5.75'] - 5.75) / 5.75) * 100
df['pH 7.73'] = ((df['pH 7.73'] - 7.73) / 7.73) * 100
df['pH 10.36'] = ((df['pH 10.36'] - 10.36) / 10.36) * 100
df['pH 13.15'] = ((df['pH 13.15'] - 13.15) / 13.15) * 100
df.to_csv('../Reading/relative_error.csv', index=False)
df.to_excel('../Reading/relative_error.xlsx', index=False)

# Generated Z Score from each relative error

In [28]:
for i in df.columns:
    df[i] = (df[i] - df[i].mean()) / df[i].std()

df.to_csv('../Reading/z-score_pH.csv', index=False)
df

      pH 2.17   pH 5.75   pH 7.73  pH 10.36  pH 13.15
0   -1.252186 -1.105886 -0.890908 -0.121167  0.970658
1   -0.224330 -1.507528 -1.189502  0.340529 -0.942062
2    0.932008 -2.519999 -1.786692 -1.416169 -0.141704
3    2.088347 -2.235503 -0.827569 -0.898169 -0.413012
4    0.418080 -1.365280 -3.397295 -3.082781 -1.030237
..        ...       ...       ...       ...       ...
995  0.032634 -0.085048  1.009242  0.892313 -1.715289
996  0.418080 -0.009740  0.366810  0.486921  1.255531
997 -0.352812  1.638664  0.873517 -0.999517  0.760394
998  0.932008  1.086407  0.538728  0.802226 -0.711450
999 -0.866740  0.492312  1.479755  0.137833  0.095690

[1000 rows x 5 columns]