In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy 
import seaborn as sns
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from bioinfokit.analys import stat

In [3]:
df_all = pd.read_csv('../Reading/Remove Outlier Chauvenet.csv')
df_all

      Unnamed: 0  index        pH     value
0              0     11   pH 2.17 -0.414747
1              1     12   pH 2.17 -0.414747
2              2     13   pH 2.17 -0.414747
3              3     14   pH 2.17 -0.368664
4              4     15   pH 2.17 -0.368664
...          ...    ...       ...       ...
4746        4746   4995  pH 13.15  0.320152
4747        4747   4996  pH 13.15  0.329278
4748        4748   4997  pH 13.15  0.333840
4749        4749   4998  pH 13.15  0.362738
4750        4750   4999  pH 13.15  0.381749

[4751 rows x 4 columns]

In [6]:
df_u = df_all.pivot(columns='pH', values='value')
df_2_17 = df_u['pH 2.17'].dropna().reset_index(drop=True)
df_5_75 = df_u['pH 5.75'].dropna().reset_index(drop=True)
df_7_73 = df_u['pH 7.73'].dropna().reset_index(drop=True)
df_10_36 = df_u['pH 10.36'].dropna().reset_index(drop=True)
df_13_15 = df_u['pH 13.15'].dropna().reset_index(drop=True)



val = {
    "pH 2.17" : df_2_17,
    "pH 5.75" : df_5_75,
    "pH 7.73" : df_7_73,
    "pH 10.36" : df_10_36,
    "pH 13.15" : df_13_15
}

df = {}

# Uncertainy Range (Vmax - Vmin / n)

In [7]:
for i in val.keys():
    print((val[i].max() - val[i].min()) / len(val[i]))
    print(float("{:.2f}".format((val[i].max() - val[i].min()) / len(val[i]))))

0.0013218055864310527
0.0
0.0010216731876730926
0.0
0.0008386044062485751
0.0
0.0005125482625482682
0.0
0.0007087452471482987
0.0

# Mean Deviation

In [8]:
for i in val.keys():
    temp = []
    for j in val[i]:
        temp.append(abs(j - val[i].mean()))
    
    print(f"Mean of {i} is {round(sum(temp) / len(temp), 2)}")
    temp = []

Mean of pH 2.17 is 0.2
Mean of pH 5.75 is 0.16
Mean of pH 7.73 is 0.11
Mean of pH 10.36 is 0.07
Mean of pH 13.15 is 0.09

In [9]:
110 + 61+37+38

246